<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Países Hispanohablantes</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <!--NAVBAR(BARRA DE NAVEGACIÓN)-->
    <header>
        <nav>
            <ul>
                <li><a href="/countries">Dashboard</a></li>
                <li><a href="/countries/add">Agregar País</a></li>
            </ul>
        </nav>
    </header>
    <!--CONTENIDO PRINCIPAL-->
    <main>
        <%- body %>
    </main>
    <!--FOOTER-->
    <footer>
        <p>&copy; 2025 Países Hispanohablantes</p>
        <p>&copy; Desarrollado por - SFTA</p>
        <p>&copy; NODO 2025</p>
    </footer>
</body>
</html>